body{
    margin: 0; /* отступы */
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    color:#595F68;
    background: #fff;
    -webkit-font-smoothing:antialiased;


    }

    *, /* авто подсчет отступов */
*:before
*:after{
    box-sizing: border-box;}


h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

.container{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
}


.flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.space-between{
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.column{

    flex-direction: column;
  }


/* header */

.header{
    background-color: #fff;
    padding: 25px 0;
}

 .header .header-logo{
    margin-right: 40px;
}

.header nav a{
    margin-right: 57px;
    text-decoration: none;
    color: #595F68;
    font-weight: 400;
}


.header nav a:hover,
svg path:hover{
    color: #FA4616;
    fill: #FA4616;
}



.header h5{
    color: #595F68;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
}

.header .toggle{
    padding: 1vh 0 0 0.5vw;
}



.header .header-auth a{
    color: black;
    text-decoration: none;
    font-weight: 700;
    margin-right: 40px;
}



.btn{

    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    border: 1px solid #FA4616;
    background-color: #FA4616;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding: 11px 25px;

    font-size: 14px;
    font-weight: 400;
    color: #fff;

    text-transform: uppercase;
    box-sizing: border-box;
     border-radius: 3px;
}

.btn,
.btn:active,
.btn:focus {
    outline: none;
}

.btn:hover{
    transition: .4s linear;
    opacity: 0.9;
    background-color: transparent ;
    color: #FA4616;
}


.burger{
    display: none;
    border: 0;
    background: none;
    cursor: pointer;
    padding: 10px 2px;
}
.burger_item{
    display: block;
    width: 30px;
    height: 3px;
    font-size: 0;
    color: transparent;
    background-color: #FA4616;
    position: relative;

}


.burger_item:before,
.burger_item:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:  #FA4616;
    left: 0;
    z-index: 1;
}

.burger_item:before{
    top: -8px;

}

.burger_item:after{
    bottom: -8px;
}

/* .burger_item.open-menu {
    opacity:0; 
    transition: 0.5s; 
}
.burger_item.open-menu:before {
    transform: rotate(38deg);
    top: 16px;
    transition: 0.4s;
}
.burger_item.open-menu:after {
    transform: rotate(-38deg);
    bottom: 16px;
    transition: 0.4s;
} */

.nav.open-menu {
    display: flex;
}

.header-auth.open-menu {
    display: flex;
}


/*Intro*/
.intro{
    width: 100%;
    min-height: 614px;
    background: url(../img/bg.png) no-repeat;
    background-size: cover;
    margin-bottom: 60px;
    
}
.intro img{
    width: 100%;
}
.form-change{
    display: none;
    top: 30%;
    left: 30%;
    position: absolute;
    width: 558px;
    height: 335px;
    background: #fff;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}



.form-change h1{
    padding: 87px 119px 73px 118px;
    color: #602C83;
}


.change-btn{
    font-size: 18px;
    text-align: center;
    width: 176px;
    height: 64px;
    color: #FA4616;
    background: #fff;
    border: 1.63099px solid #FA4616;
    border-radius: 3px;
    margin-left: 25px;
}
.change-btn:nth-child(2){
    margin-left: 91px;
}

.change-btn:hover{
    background: linear-gradient(132.97deg, rgba(250, 70, 22, 0.53) 7.3%, #FA4616 62.25%);
    border: none;
    color: #fff;
    transition: .4s linear;
}

.form-signup{
    display: none;
   margin: auto;
    /* display: flex; */
    flex-direction: column;
    top: 10%;
    left: 40%;
    
    width: 362px;
    height: auto;
    background: #fff;
    border: 1px solid #fff; 
}

.form-signup h1{
    color: #383838;
    margin: auto;
    margin-bottom: 40px;
}

.form-signup .input_text{
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 0 20px;
    height: 55px;
    background: #FAFAFB;
    border: 1px solid #E7E8EA;
    border-radius: 4px;
    margin: 0 0 20px 0;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
    
}

.form-signup .input_text::placeholder{
    color: #AAB2BD;

}

.input_text:focus {
    border: 2px solid  #FA4616;
   }

   .input_text,
.input_text:active,
.input_text:focus {
outline: none;
}

.form-signup label{
    color: #9D71C7;
    
}

.form-signup input[type="checkbox"]:checked, 
.form-signup input[type="checkbox"]:not(:checked)

{
    position: absolute;
    left: -9999px;
}

.form-signup input[type="checkbox"]:checked + label, 
.form-signup input[type="checkbox"]:not(:checked) + label
 {
    display: inline-block;
    position: relative;
    padding-left: 38px;
    line-height: 20px;
    cursor: pointer;
}

.form-signup input[type="checkbox"]:checked + label:before, 
.form-signup input[type="checkbox"]:not(:checked) + label:before
{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 23px;
    height: 23px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    border-radius: 3px;
}

.form-signup input[type="checkbox"]:checked + label:before{
    background-color:#9D71C7;
}

.form-signup input[type="checkbox"]:checked + label:after, 
.form-signup input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.form-signup input[type="checkbox"]:checked + label:after, 
.form-signup input[type="checkbox"]:not(:checked) + label:after {
    left: 5px;
    top: 5px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #fff;
    border-bottom: 4px solid #fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.form-signup input[type="radio"]:checked + label:after, 
.form-signup input[type="radio"]:not(:checked) + label:after {
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #fff;
}

.form-signup .check1{
    margin-top: 25px;
}

.form-signup .check2{
    margin-top: 17px;
    margin-bottom: 32px;
}

.form-signup .change-btn{
    margin: 0 auto 32px auto;
    width: 212px;
    height: 53px;
    
   
   
}
.form-signup span{
margin: auto;
position: relative;
}

.form-signup span::before{
  
        content: "";
        height: 1px;
        width: 163px;
        margin-top: 9px;
        position: absolute;
        left: 20px;
        background-color: #AAB2BD;
    }
    


.form-signup span::after {
    content: "";
    height: 1px;
    width: 163px;
    margin-top: 9px;
    position: absolute;
    right: 20px;
    
    background-color: #AAB2BD;
}

.form-signup h6{
    margin: auto;
    font-size: 14px;
    color: #FA4616;
    margin-top: 16px;
    margin-bottom: 10px;
}

.button_social{
    
    margin: auto;
}

.button_social svg{
    top: 4px;
    position: relative;
}

.button_social svg path,.btn-social:hover{
    fill: #FFE3DC ;
}


.btn-social,.button_social svg path{
    fill: #FA4616 ;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    border: 1px solid #FFE3DC;
    background-color: #FFE3DC;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding: 11px 25px;

    font-size: 14px;
    font-weight: 400;
    color: #FA4616;

   
    box-sizing: border-box;
     border-radius: 3px;
}

.btn-social:first-child{
    margin-right: 14px;
}

.btn-social,
.btn-social,
.btn-social {
    outline: none;
}

.btn-social:hover{
    transition: .4s linear;
    opacity: 0.9;
    background-color: #FA4616 ;
    color: #ffffff;
}

/*Footer*/


.footer{
    background: url(../img/footer.png) no-repeat;
    background-size: cover;
}

.footer-content img{
    height: 42px;
    padding-top: 42px
}
.about-list{
    padding-top: 60px;
}

.about-list a{
    text-decoration: none;
    line-height: 28px;
    color: #606060;

}

.about-list:nth-child(2){
    padding-left: 48px
}
.about-list:nth-child(3){
    padding-left: 66px
}
.about-list:nth-child(4){
    padding-left: 54px
}

.about-list:nth-child(5){
    padding-left: 54px
}
.about-title{
    font-weight: 700;
    font-size: 13px;
    color: #602C83;
    line-height: 36px;
}


.about-list span{
    line-height: 17.57px;
    padding-top: 3px;
    font-size: 14px;
}

.form-footer{
    padding-top: 15px;
}

.form-footer input{
    width: 265px;
    padding: 5px 0 6px 14px;
    border: 1px solid #ABABAB;
    font-size: 14px;
    border-radius: 2px;
}

.form-footer input::placeholder{
    color: #A9A9A9;
}

.form-footer button{
    padding: 10px 20px;
    font-size: 12px;
    line-height: 15.06px;
    color: #fff;
    background: #9D71C7;
    border-radius: 3px;
    border: none;
    margin-left:13px;
}

.footer-subtitle{
    justify-content: flex-end;
    padding: 45px 140px 49px 0px;
}

.footer-social{
    padding: 60px 0 0 49px;
}

.social-title{
    font-size: 13px;
    font-weight: 700;
    line-height: 36px;
    color: #fff;
}

.footer-social svg{
    padding-left: 32px;
}

.footer-social svg path:hover{
    fill: #9D71C7;
}







@media(max-width:375px){
    .nav{
        display: none;
    padding: 15px 0 10px 15px;
    background-color: #FFA68E;
    width: 60%;
    flex-direction: column;
    text-align: left;
    position: absolute;
    top: 10%;
    right: 0;
    

        }
    
    .header .nav a{
        color: black;
        padding-top: 8px;
    }    

        .header-auth{
            display: none;
            padding: 15px 0 10px 15px;
            background-color: #FFA68E;
            width: 60%;
            flex-direction: column;
            text-align: left;
            position: absolute;
            top: 29%;
            right: 0;
    
            }   
            
        .btn{
            margin-top: 15px;
            width: 60%;
        }    
    .nav.show{
        display: flex;
    }
    .header-auth.show{
        display: flex;
    }

    /* .nav__link{
        padding: 8px 15px;
    }

    .container{
        max-width: 745px;
    } */
    .burger{
        display: block;
    }
}
