body{
    margin: 0; /* отступы */
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    color:#595F68;
    background: #fff;
    -webkit-font-smoothing:antialiased;


    }

    *, /* авто подсчет отступов */
*:before
*:after{
    box-sizing: border-box;}


h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

.container{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
}


.flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.space-between{
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.column{

    flex-direction: column;
  }


/* header */

.header{
    background-color: #fff;
    padding: 25px 0;
}

 .header .header-logo{
    margin-right: 40px;
}

.header nav a{
    margin-right: 57px;
    text-decoration: none;
    color: #595F68;
    font-weight: 400;
}

.header h5{
    color: #595F68;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
}

.header .toggle{
    padding: 1vh 0 0 0.5vw;
}

.header .header-auth a{
    color: black;
    text-decoration: none;
    font-weight: 700;
    margin-right: 40px;
}
